







header {
    text-align: center;
    background-color: white;
}
nav {
    float: left;
    background: rgb(194, 194, 194);
    padding: 2.5%;
    width: 20%;
    border:black solid 3px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
article {
    float: left;
    padding: 2%;
    width: 70%;
    background-color: white;
}
footer {
    border-top: 3px solid black;
    padding: 30px;
    width: 100%;
    float: left;
}
body {
    background-color: white;
}
h1 {
    border: 3px solid black;
    padding: 30px;
    color: black;
    font-size: 60px;
}
p {
    color: black;
}
@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
table {
    font-family:'Times New Roman', Times, serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
    color: black;
    text-align: left;
    padding: 2px;
    border: 2px solid #000;
}
.tab {
    text-indent: 40px;
}